    .banner {
        background-image: url(../../images/desk_computer.jpeg);
        background-size: cover;
        background-position: center;
        padding: 200px 0;
    }
    
    .banner .container {
        width: 900px;
        margin: auto;
    }
    
    .banner h1 {
        color: black;
        font-size: 36px;
        text-shadow: 0 0 5px #634448;
    }
    
    .banner p {
        font-size: 25px;
        color: rgb(54, 53, 53)
    }
    
    .banner .btn-primary {
        display: inline-block;
        background-color: #634448;
        padding: 18px 36px;
        border-radius: 50px;
        color: white;
        transition: .8s ease;
    }
    
    .banner .btn-primary:hover {
        padding: 22px 40px;
        background-color: rgb(246, 197, 164);
        color: #634448;
    }